//====================================================================================================
.footer {
   background: #fafafa;
   // .footer__top

   &__top {
   }

   // .footer__bottom

   &__bottom {
      border-bottom: 1px solid #e7e6e6;
   }

   // .footer__copy

   &__copy {
      padding: rem(22) rem(25);
      line-height: 127.47%;
      text-align: center;
      letter-spacing: -0.5px;
      color: #bebebe;
      border-bottom: 1px solid #e7e6e6;
   }
}
.top-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: rem(30) rem(25);
   border-bottom: 1px solid #e7e6e6;
   @media (max-width: $tablet) {
      flex-direction: column-reverse;
   }
   // .top-footer__lerom

   &__lerom {
      line-height: 127.47%;
      letter-spacing: -0.5px;
      color: #bebebe;
   }

   // .top-footer__logo

   &__logo {
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(20);
         }
      }
   }

   // .top-footer__author

   &__author {
      line-height: 127.47%;
      letter-spacing: -0.5px;
      color: #bebebe;
      span {
         color: #004583;
      }
      @media (max-width:$tablet){
         padding: rem(30) rem(15);
         text-align: center;
      }
      @media (any-hover: hover) {
        &:hover {
        text-decoration: underline;
       }
      }

   }
}
.bottom-footer {
   padding: rem(28) rem(0);
   display: flex;
   @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   // .bottom-footer__items

   &__items {
      display: flex;
      flex: 0 1 66.6%;
      justify-content: space-between;
      padding: rem(0) rem(15);
      @media (max-width: $pc) {
         flex-wrap: wrap;
      }
      @media (max-width: $tablet) {
         flex: 1 1 100%;
         width: 100%;
      }
   }

   // .bottom-footer__item

   &__item {
      flex: 0 1 25%;
      margin: rem(0) rem(0) rem(30) rem(0);
      @media (max-width: $pc) {
         flex: 0 1 50%;
      }
      @media (max-width: $tablet) {
         text-align: center;
      }
      @media (max-width: $mobileSmall) {
         flex: 1 1 100%;
      }
   }

   // .bottom-footer__links

   &__links {
   }
}
.item-bottom-footer {
   padding: rem(0) rem(10);
   // .item-bottom-footer__spollers

   &__spollers {
   }

   // .item-bottom-footer__item

   &__item {
   }

   // .item-bottom-footer__title

   &__title {
      font-weight: bold;
      line-height: 216.97%;
      letter-spacing: -0.5px;
      white-space: nowrap;
      &:not(:last-child) {
         margin-bottom: rem(25);
      }
   }

   // .item-bottom-footer__body

   &__body {
   }

   // .item-bottom-footer__list

   &__list {
   }

   // .item-bottom-footer__point

   &__point {
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      line-height: 216.97%;
      letter-spacing: -0.5px;
      color: #656d75;
   }

   // .item-bottom-footer__link

   &__link {
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.links-bottom-footer {
   flex: 0 1 33.333%;
   display: flex;
   padding: rem(0) rem(15);
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   @media (max-width: $tablet) {
      flex: 1 1 100%;
   }
   @media (max-width: $mobileSmall) {
      flex-direction: column;
   }

   // .links-bottom-footer__links

   &__links {
      display: flex;
      flex-direction: column;
      @media (max-width: $mobileSmall) {
         margin: rem(0) rem(0) rem(30) rem(0);
      }
   }

   // .links-bottom-footer__item

   &__item {
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #004583;
      padding: rem(20) rem(45);
      &:not(:last-child) {
         border-bottom: 1px solid #e7e6e6;
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .links-bottom-footer__visits

   &__visits {
   }
}
.visits-footer {
   display: flex;
   // .visits-footer__item

   &__item {
      &:not(:last-child) {
         margin-right: rem(30);
      }
   }
}

//====================================================================================================
.author-link {
}
