//====================================================================================================

.mainslider {
   margin-top: rem(176);
   // .mainslider__slider

   &__slider {
      position: relative;
      &.swiper {
         overflow: visible;
      }
   }

   // .mainslider__wrapper

   &__wrapper {
   }

   // .mainslider__slide

   &__slide {
      position: relative;
   }

   // .mainslider__cart

   &__cart {
      background: #004583;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      box-shadow: 0px 4px 38px #004583;
      position: absolute;
      right: 0;
      transition: all 0.3s ease 0s;
      z-index: 2;
      top: rem(61);
      width: 92px;
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px 0px 0px 50px;
      &::before {
         font-size: rem(40);
         color: #fff;
      }
      @media (any-hover: hover) {
         &:hover {
            background: #fff;
            box-shadow: 0px 4px 38px #fff;
            &::before {
               color: #004583;
            }
         }
      }
      @media (max-width: $mobile) {
         display: none;
      }
   }
}

.slide-mainslider {
   // .slide-mainslider__image-ibg

   &__image-ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         object-position: top;
      }

      &::before {
         content: "";
         z-index: 2;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: -moz-linear-gradient(
            left,
            rgba(0, 69, 131, 1) 0%,
            rgba(0, 69, 131, 0.5) 50%,
            rgba(125, 185, 232, 0) 100%
         );
         background: -webkit-linear-gradient(
            left,
            rgba(0, 69, 131, 1) 0%,
            rgba(0, 69, 131, 0.5) 50%,
            rgba(125, 185, 232, 0) 100%
         );
         background: linear-gradient(
            to right,
            rgba(0, 69, 131, 1) 0%,
            rgba(0, 69, 131, 0.5) 50%,
            rgba(125, 185, 232, 0) 100%
         );
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004583', endColorstr='#007db9e8',GradientType=1 );
      }
   }

   // .slide-mainslider__content

   &__content {
      padding: rem(70) rem(0);
      text-align: left;
      position: relative;
      z-index: 3;
      color: #ffffff;
      @include adaptiveValue("padding-left", 259, 0);
      @media (max-width: $mobile) {
         padding: rem(39) rem(15);
      }
   }

   // .slide-mainslider__title

   &__title {
      font-weight: bold;
      @include adaptiveValue("font-size", 38, 20);
      text-transform: uppercase;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      max-width: 660px;
      font-family: "Gilroy";
      &:not(:last-child) {
         margin-bottom: rem(22);
      }
   }

   // .slide-mainslider__textbold

   &__textbold {
      font-weight: bold;
      font-size: rem(18);
      line-height: 127.47%;
      letter-spacing: -0.5px;
      max-width: 457px;
      &:not(:last-child) {
         margin-bottom: rem(22);
      }
   }

   // .slide-mainslider__text

   &__text {
      font-size: rem(18);
      max-width: 457px;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      &:not(:last-child) {
         margin-bottom: rem(22);
      }
   }

   // .slide-mainslider__items

   &__items {
      display: flex;
      max-width: 660px;
      @media (max-width: $mobile) {
         flex-wrap: wrap;
      }
   }

   // .slide-mainslider__item

   &__item {
      display: flex;
      @media (max-width: $mobile) {
         margin: rem(0) rem(0) rem(20) rem(0);
      }
   }
}

.item-slide-mainslider {
   padding: rem(0) rem(5);
   &:not(:last-child) {
      margin-right: rem(36);
   }
   // .item-slide-mainslider__icon

   &__icon {
      margin: rem(0) rem(9) rem(0) rem(0);
      flex: 0 0 rem(55);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      min-height: 55px;
      border-radius: 50%;
      min-width: 55px;
      max-height: 55px;
      &::before {
         z-index: 5;
         color: #004583;
         font-size: rem(20);
         @media (max-width: $mobile) {
            font-size: rem(10);
         }
      }
      @media (max-width: $mobile) {
         min-width: 30px;
         min-height: 30px;
         flex: 0 0 rem(30);
         max-height: 30px;
      }
   }

   // .item-slide-mainslider__body

   &__body {
   }

   // .item-slide-mainslider__count

   &__count {
      @include adaptiveValue("font-size", 12, 7);
      line-height: 127.47%;
      letter-spacing: -0.5px;
      span {
         font-family: "Gilroy";
         font-weight: 600;
         @include adaptiveValue("font-size", 21, 10);
         line-height: 127.47%;
         letter-spacing: -0.5px;
         text-transform: uppercase;
      }
   }

   // .item-slide-mainslider__text

   &__text {
      font-size: 12px;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      @media (max-width: $mobile) {
         max-width: 180px;
      }
   }
}

.mainslider-button {
   position: absolute;
   color: #fff;
   top: 50%;
   cursor: pointer;
   z-index: 2;
   transition: all 0.3s ease 0s;
   border: 1px solid #fff;
   border-radius: 50%;
   padding: rem(18) rem(18);
   @media (any-hover: hover) {
      &:hover {
         background-color: #fff;
         color: #004583;
      }
   }
   @media (max-width: $mobile) {
      display: none;
   }
   // .mainslider-button__prev

   &__prev {
      left: rem(24);
      transform: rotate(-180deg);
   }

   // .mainslider-button__next

   &__next {
      right: rem(24);
   }
}

.mainslider-pagination {
   &.swiper-pagination-horizontal.swiper-pagination-bullets {
      display: none;
      @media (max-width: $mobile) {
         display: flex;
         justify-content: center;
         bottom: -15px;
         position: absolute;
         z-index: 2;
      }
      .swiper-pagination-bullet {
         height: 8px;
         width: 8px;
         background: #efeded;
         opacity: 1;
      }

      .swiper-pagination-bullet-active {
         background: #004583;
      }
   }
}
//====================================================================================================

.catalog {
   @media (max-width: $mobile) {
      margin: rem(23) rem(0) rem(0) rem(0);
   }
   // .catalog__items

   &__items {
      display: flex;
      flex-wrap: wrap;
   }

   // .catalog__item

   &__item {
      // .catalog__item_1

      &_1 {
         @media (max-width: $tablet) {
            order: 1;
         }
      }

      // .catalog__item_2

      &_2 {
         @media (max-width: $tablet) {
            order: 3;
         }
      }

      // .catalog__item_3

      &_3 {
         flex-direction: row-reverse;
         .item__image-ibg {
            &::before {
               left: -1px;
               transform: rotate(-180deg);
            }
         }
         .item__link {
            transform: rotate(-180deg);
         }
         @media (max-width: $tablet) {
            order: 4;
         }
      }

      // .catalog__item_4

      &_4 {
         flex-direction: row-reverse;
         .item__image-ibg {
            &::before {
               left: -1px;
               transform: rotate(-180deg);
            }
         }
         .item__link {
            transform: rotate(-180deg);
         }
         @media (max-width: $tablet) {
            order: 2;
         }
      }
      &_5 {
         flex: 1 1 100%;
         .item__image-ibg {
            flex: 0 1 62%;
         }
         .item__content {
            flex: 0 1 38%;
         }
         @media (max-width: $tablet) {
            order: 5;
            .item__image-ibg {
               flex: 0 1 50%;
            }
            .item__content {
               flex: 0 1 50%;
            }
         }
      }
   }
}
.item-catalog {
   // .item-catalog__image-ibg

   &__image-ibg {
   }

   // .item-catalog__content

   &__content {
   }

   // .item-catalog__body

   &__body {
   }

   // .item-catalog__title

   &__title {
   }

   // .item-catalog__text

   &__text {
   }

   // .item-catalog__available

   &__available {
   }

   // .item-catalog__price

   &__price {
   }

   // .item-catalog__link

   &__link {
   }
}
//========================================================================================================================================================

.video {
   position: relative;
   // .video__video

   &__video {
      position: relative;
      iframe {
         opacity: 1;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }

   // .video__content

   &__content {
      text-align: center;
      @include adaptiveValue("padding-top", 71, 40);
      padding-bottom: 36px;
   }

   // .video__image-ibg

   &__image-ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      transition: all 0.3s ease 0s;
      &::after {
         background: linear-gradient(0deg, rgba(0, 69, 131, 0.2), rgba(0, 69, 131, 0.2));
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         content: "";
      }
      &._active {
         left: -100%;
      }
   }

   // .video__body

   &__body {
      position: relative;
      transition: opacity 0.3s ease 0s;

      z-index: 3;
      &._hidden {
         opacity: 0;
         visibility: hidden;
      }
   }

   // .video__title

   &__title {
      font-family: Gilroy;
      font-weight: bold;
      font-size: 24px;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      color: #ffffff;
      &:not(:last-child) {
         margin-bottom: rem(48);
      }
   }

   // .video__icon

   &__icon {
      &:not(:last-child) {
         margin-bottom: rem(101);
      }
      margin: 0 auto;
      cursor: pointer;
      background-color: #fff;
      display: flex;
      border-radius: 50%;
      width: 97px;
      height: 97px;
      justify-content: center;
      align-items: center;
      img {
         transition: all 0.3s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.1);
            }
         }
      }
   }

   // .video__button

   &__button {
      display: inline-flex;
      color: #fff;
      padding: rem(13) rem(43);
      font-weight: 600;
      font-size: 14px;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 22px;
      transition: all 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            background-color: #fff;
            color: #071828;
         }
      }
   }
}
//========================================================================================================================================================

.information {
   // .information__items

   &__items {
      display: flex;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }

   // .information__column

   &__column {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
   }

   // .information__links

   &__links {
   }
}
.item-information {
   height: 100%;

   // .item-information_1

   &_1 {
   }

   // .item-information_2

   &_2 {
      flex-direction: row-reverse;
      .item-information__link {
         transform: rotate(-180deg);
      }
      .item__image-ibg {
         &::before {
            left: 0px;
            transform: rotate(-180deg);
         }
      }
   }

   // .item-information_3

   &_3 {
   }

   // .item-information_4

   &_4 {
      flex-direction: row-reverse;
      .item-information__link {
         transform: rotate(-180deg);
      }
      .item__image-ibg {
         &::before {
            left: 0px;
            transform: rotate(-180deg);
         }
      }
   }

   // .item-information__label

   &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Gilroy;
      font-weight: 500;
      font-size: 18px;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      color: #000000;
      padding: rem(24) rem(0);
      border-bottom: 1px solid #e7e6e6;
   }

   // .item-information__title
   &__title {
      span {
         color: #bb2822;
      }
   }

   // .item-information__items

   &__items {
      display: flex;
      flex-direction: column;
   }

   // .item-information__image-ibg

   &__image-ibg {
      max-height: 100%;
      @include adaptiveValue("height", 229, 157);
   }

   // .item-information__content

   &__content {
      padding-top: 17px;
      display: flex;
      background: #f9f9f9;
      flex-direction: column;
   }

   // .item-information__body

   &__body {
      padding: 0;
      margin: 0 !important;
      flex: 1 1 auto;
   }

   // .item-information__text

   &__text {
   }

   // .item-information__link

   &__link {
   }
}

.links-information {
   display: flex;
   @media (max-width:$tablet){
      flex-direction: column;
   }
   // .links-information__item

   &__item {
      flex: 0 1 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Gilroy;
      white-space: nowrap;
      font-weight: 500;
      font-size: 18px;
      line-height: 127.47%;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      padding: rem(28) rem(0) rem(21) rem(0);
      @media (min-width:$tablet){
         &:not(:last-child) {
            border-right: 1px solid #e7e6e6;
         }
      }
      @media (any-hover: hover) {
         &:hover {
            color: #004583;
         }
      }
      &::after {
         @extend %ic;
         content: "\e900";
         font-size: rem(13);
         transform: rotate(270deg);
         margin: rem(0) rem(0) rem(0) rem(8);
      }
      @media (max-width:$tablet){
         border-top: 1px solid #F3F3F3;
      }
      // .links-information__item_hidden

      &_hidden {
         color: rgba(7, 24, 40, 0.08);
         pointer-events: none;
         @media (max-width: $tablet) {
            display: none;
         }
         &::after {
            display: none;
         }
      }
   }
}
